# DB URL
DATABASE_URL=postgresql://postgres:yourpassword@localhost:5432/db_name

# JWT
JWT_SECRET=change_this_to_a_long_random_secret_at_least_32_chars
JWT_EXPIRES_IN=7d

# Server
PORT=3001
NODE_ENV=development
